/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting the background image and global font */
html {
    background-image: url(../images/potterwallpaper.png);
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Harry P';
    height: 100%;
}

audio {
    display: none;
}

/* Parent Container */
.container-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Child Container for Content */
.container {
    width: 90%;
    height: 650px;
    margin: auto;
    background: #fff;
    opacity: 0.9;
    border-radius: 5px;
}

/* Header */
#header {
    width: 100%;
    height: 90px;
    display: flex;
    margin-bottom: 20px;
}

#header h1 {
    margin: auto;
    padding: 10px 30px;
    background-color: #eeba30;
    border-radius: 5px;
    border-bottom: 2px solid #000;
    -webkit-box-shadow: 0px 5px 15px 0px #000; 
    box-shadow: 0px 5px 15px 0px #000;
    font-size: 5rem;
    position: relative;
    top: -20px;
}

/* Instructions */
#container-instructions {
    display: flex;
    height: 200px;
    /* display: none; */
}

#instructions {
    margin: auto;
    text-align: center;
    font-size: 35px;
    line-height: 1.5;
}

#instructions span {
    color: #ae0001;
}

/* Start Button */
#start {
    height: 70px;
    margin: 50px 0 20px 0;
    display: flex;
    /* display: none; */
}

#start-button {
    margin: auto;
    padding: 10px 50px;
    font-family: 'Harry P';
    font-size: 3.5rem;
    color: #fff !important;
    border: 2px solid #000 !important;
    background-color: #ae0001;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

#start-button:hover {
    color: #000 !important;
    background: #eeba30;
    border-color: #eeba30 !important;
    transition: all 0.6s ease 0s;
    -webkit-box-shadow: 0px 5px 15px 0px #000; 
    box-shadow: 0px 5px 15px 0px #000;
}

#start-button:active {
    transform: translateY(7px);
}

/* Timer and Questions Container */
#seconds-timer {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 50px;
    /* display: none; */
}

#seconds-timer h3 {
    margin: 0 auto;
    padding: 5px;
    font-size: 35px;
}

#container-trivia {
    display: flex;
    display: none;
} 

#trivia-questions {
    margin: auto;
    border-radius: 5px;
    width: 80%;
    height: 400px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#random-questions {
    width: 90%;
    height: 70px;
    margin: 20px auto 25px auto;
    text-align: center;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.answerOptionsButton {
    width: 80%;
    height: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto 20px auto;
    border-top: 2px solid #ae0001;
    border-left: 2px solid #ae0001;
    border-bottom: 2px solid #eeba30;
    border-right: 2px solid #eeba30;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.answerOptionsButton:hover {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: #ae0001;
    color: #fff;
    border: none;
}

.answerOptionsButton:active 

/* End of Game Display  */
#container-answers {
    display: flex;
    height: 400px;
    /* display: none; */
}

#display-answers {
    margin: auto;
    padding: 10px;
    width: 300px;
}

#display-answers h3 {
    margin-bottom: 10px;
    font-size: 40px;
}

#display-answers .finished-text {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

#restart{
    height: 30px;
    margin: 20px 0 20px 0;
    display: flex;
    /* display: none; */
}

#restart-game {
    margin: auto;
    padding: 10px 50px;
    font-family: 'Harry P';
    font-size: 2rem;
    color: #000 !important;
    border: 2px solid #000 !important;
    background-color: #eeba30;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

#restart-game:hover {
    color: #fff !important;
    background: #ae0001;
    border-color: #ae0001 !important;
    transition: all 0.6s ease 0s;
    -webkit-box-shadow: 0px 5px 15px 0px #000; 
    box-shadow: 0px 5px 15px 0px #000;
}

#restart-game:active {
    transform: translateY(7px);
}

/* Media Queries */

@media screen and (max-width: 800px) {
    #instructions {
        font-size: 30px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 675px) {
    .choice {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    #header h1 {
        font-size: 3rem;
    }

    #seconds-timer h3 {
        font-size: 1.8rem;
    }

    #start-button {
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px) {
    #header h1 {
        font-size: 2.2rem;
    }

    #random-questions {
        font-size: 16px;
    }

    .answerOptionsButton {
        font-size: 14px;
        overflow-wrap: break-word;
    }

    #display-answers h3 {
        font-size: 25px;
        text-align: center;
    }
}






